/* login.css */
body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;
}
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    margin-top: 70px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-container h2 {
    margin-top: 0;
    text-align: center;
}

.login-container form {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container p {
    text-align: center;
}

.login-container p a {
    color: #007bff;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}
.error-message {
    display: none; /* Kezdetben ne látszódjon */
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-top: 10px; /* Távolság a konténertől */
    border-radius: 5px;
}

/* Hibás állapotban megjelenő hibaüzenet */
.error {
    display: block; /* Megjelenítés, ha hiba van */
}